<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The To Do List</title>
    @Styles.Render("~/Content/css")
</head>
<body>

        @RenderBody()

        <footer>
            &copy; 2015 - Benny J&oslash;rgensen
        </footer>

</body>
</html>